*.bin
**/vscripts/
**/node_modules
.idea
dist/game/maps
dist/game/particles
server-remote/dist
battle-sim/dist
dist/content/panorama/
dist/game/materials
dist/game/panorama
server-local/src/unit_defs.ts
server-local/src/modifier_logic.ts
server-local/src/hero_sounds.ts

panorama_debugger.cfg
run.pid
server-log.txt
