*.bin
**/vscripts/
**/node_modules
.idea
dist/game/maps
dist/game/particles
server-local/declarations
server-remote/dist
battle-sim/dist
client-local/**/unit_defs.ts
dist/content/panorama/
dist/game/materials
dist/game/panorama
server-local/src/unit_defs.ts

panorama_debugger.cfg